@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.38s ease-out, color 0.3s ease-out;
  @apply bg-cyan-100 dark:bg-black text-black dark:text-secondary-200 
}

body > div {
  @apply  mt-11 lg:mx-32 mx-3
}


.navbar {
  transition: background-color 0.83s ease-out;
  @apply sticky bg-transparent px-3.8 lg:px-32 py-1 items-center flex justify-between h-14 top-0 w-full z-30 
}
.nav-bg {
  @apply  dark:bg-black/83  backdrop-blur-md border-b border-primaryl-100/30 dark:border-secondary-100/30;

}

.logo {
  @apply text-primaryl-100 dark:text-primary-100
}

.button-animation {
  @apply dark:hover:bg-black dark:hover:text-primary-100/83 duration-300
}

.glow {
  @apply hover:shadow-cs hover:shadow-primaryl-100 dark:hover:shadow-primary-100 hover:-translate-y-3 duration-182
}

.glow-subtle {
  @apply hover:shadow-csl hover:shadow-primaryl-100 hover:bg-primary-100 hover:text-primaryl-100 dark:hover:shadow-primary-100 duration-182
}

.theme-toggle {
  transition: color 0.3s ease-out, color 0.3s ease-out;
}

 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  color: black;
  @apply bg-transparent
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */


