@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  @apply bg-white/90 dark:bg-black text-black dark:text-secondary-200 
}

body > div {
  @apply  mt-11 lg:mx-32 mx-8
}


.navbar {
  transition: background-color 0.83s ease-out;
  @apply fixed bg-transparent lg:px-32 p-8 items-center flex h-14 top-0 w-full z-30 
}
.nav-bg {
  @apply  dark:bg-black/83  backdrop-blur-md border-b border-slate-900/10 dark:border-slate-300/10;

}

.logo {
  @apply text-black dark:text-primary-100 
}

.sidebar {
}

.theme-toggle {
  transition: color 0.3s ease-out, color 0.3s ease-out;
}

 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  color: black;
  @apply bg-transparent
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */


